@media only screen and (min-width: 1200px) {
    .f-nav {
        z-index: 9999;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1199px) {
    .f-nav .main-search-bar, .rt-bk-cont {
        display: none
    }

    .polls-left, .sec-1-big div.sec-1-big-text, .sec-1-sm div.sec-1-sm-text {
        width: 100%;
        border-bottom: 1px solid #e5e5e5
    }

    .f-nav {
        z-index: 9999;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%
    }

    .hm-slider-cont {
        margin-left: 5%
    }

    .tn-small-1 h4, .trend-sm h4 {
        max-height: 40px;
        margin: 6px 0 9px 10px;
        font-size: 16px;
        overflow: hidden
    }

    .tn-small-1 h4 {
        max-width: 185px
    }

    .trend-1 img {
        max-width: 100%
    }

    .trend-sm h4 {
        max-width: 170px;
        line-height: 20px
    }

    .ad-rt img, .sec-1-big img, .vid-thmb ul li img {
        max-width: 100%
    }

    .big-two-1.boxgrid3 h3 a, .big-two-2.boxgrid3 h3 a {
        font-size: 16px;
        float: left;
        margin-bottom: 10px;
        max-height: 19px;
        overflow: hidden
    }

    .polls-left {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-right: none
    }

    .polls-bg-img {
        display: block;
        margin: 0 auto
    }

    .sec-1-sm div.sec-1-sm-text {
        padding: 15px 0;
        margin: 0
    }

    .sec-1-big div.sec-1-big-text {
        margin: 0;
        padding-bottom: 15px
    }

    .sec-1-big img {
        float: none;
        display: block;
        margin: 0 auto;
        width: auto
    }

    .sm-gal-bg, .subscribe form input {
        width: 100%
    }

    .flex-control-nav {
        bottom: -11px
    }

    .sm-gal-bg {
        text-align: center
    }

    .img-sm-gal {
        width: 100%;
        padding: 20px 0
    }

    .subscribe form a {
        float: right !important
    }

    .flkr-cont a {
        float: left;
        margin: 1px
    }

    .flkr-cont a img {
        width: 100px;
        height: 80px
    }

    .vid-thmb ul li {
        display: inline;
        margin: 0 2.5% 0 0;
        float: left;
        width: 23%
    }

    .fxd-mnu-x {
        top: 15px;
        right: 30px
    }

    .top-banner {
        top: 5px;
    }

    .sec-1-sm img {
        width: auto;
        margin: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
    .container {
        width: 770px !important
    }

    .main-search-bar {
        margin-top: 10px
    }

    .main-left-side {
        width: 100%;
        margin: 0 auto
    }

    .big-two-1.boxgrid3 h3 a, .big-two-2.boxgrid3 h3 a {
        font-size: 17px
    }

    .main-news-blks {
        max-width: 881px;
        width: auto;
        float: none;
        display: block;
        margin: 0 auto
    }

    .hm-slider-cont {
        max-width: 100%;
        display: block;
        margin: 0 auto 12px;
        float: none
    }

    .polls-cont, .top-big-two {
        margin: 0 auto;
        float: none
    }

    .tn-small-1 h4 {
        max-width: 64%;
        max-height: 40px;
        overflow: hidden
    }

    .top-big-two {
        width: auto;
        max-width: 754px
    }

    .polls-cont {
        width: 400px;
        max-width: 760px;
        display: block
    }

    .pol-lft-txt p {
        margin: 30px 0
    }

    .flex-control-nav {
        bottom: -11px
    }

    .sm-gal-bg {
        width: 100%;
        text-align: center
    }

    .img-sm-gal {
        width: 100%;
        padding: 20px 0
    }

    .ticker-ctrls {
        display: none;
        top: 0 !important
    }

    ul.newsticker {
        width: 77%
    }

    .main-right-side {
        max-width: 370px;
        width: auto;
        margin: 0 auto;
        float: none;
        display: block
    }

    .sec-1-sm {
        width: 50%;
        float: left;
        display: block;
        margin-top: 28px
    }

    .sec-1-sm img {
        width: auto;
        float: left
    }

    .sec-1-sm h6 {
        float: left;
        width: 100%
    }

    .sec-1-sm h3, .sec-1-sm p {
        width: 100%;
        float: left;
        margin-bottom: 7px !important
    }

    .polls-left {
        width: 346px;
        padding-right: 0;
        margin-right: 36px;
        border-right: none
    }

    .polls-right {
        width: 338px
    }

    .ticker-ctrls a {
        line-height: 41px
    }

    .vid-thmb ul li {
        display: inline;
        margin: 0
    }

    .cont-lst-sngl {
        margin-right: 4%
    }

    .customSelectInner:after {
        content: "\E764";
        font-family: entypo;
        font-size: 45px;
        color: #000;
        display: table-cell;
        vertical-align: top;
        text-align: center;
        position: absolute;
        top: -3px !important;
        right: 10px
    }

    .accor-arw {
        margin-top: 10px !important
    }

    #hidemenu {
        display: none !important
    }

    .rt-bk-cont {
        width: 100%;
        height: 270px;
    }

    .rt-bk-cont .boxgrid2 {
        width: 300px;
    }

    .top-banner {
        top: 8px;
    }

    .sec-1-sm div.sec-1-sm-text {
        width: 65.82633053221288%;
        margin-left: 0;
        margin-top: 14px;
    }

}

@media (min-width: 768px) {
    .top-toolbar, .flex-container {
        display: none;
        visibility: hidden;
    }

    .flex-container .hm-slider {
        width: 434px;
    }

    .item {
        width: 50%;
    }

    .sub-item-cat {
        display: none;
    }

    .mobile {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar-toggle {
        float: left;
        margin-left: 5px;
    }

    .navbar-brand {
        display: inherit;
        float: left;
        margin: 0 auto;
        /*width: 64px;*/
    }

    .main-menu, .logo-top-ad, .mid-block-1 {
        display: none !important;
        visibility: hidden !important;
    }

    .flex-container {
        display: block;
        visibility: visible;
    }

    .hm-slider-cont {
        height: auto;
    }

    .flex-container .hm-slider {
        max-height: 245px;
        height: 245px;
    }

    .flexslider .slides img {
        height: 245px;
    }

    .navbar-inverse .navbar-nav > li:first-child > a {
        width: 100%;
        float: left;
    }

    .navbar-inverse .navbar-nav > li > a {
        width: 50%;
        float: left;
    }

    .sub-item-cat {
        display: block;
    }

    .sub-cat-top {
        display: block;
    }

    .no-js .sb-search, .sb-search.sb-search-open {
        width: 97.5%;
    }

    .mobile {
        display: block;
    }

    .web {
        display: none;
    }

}

@media only screen and (min-width: 690px) and (max-width: 767px) {
    .hm-slider-cont, .main-news-blks, .mid-blks-cont {
        display: block;
        float: none
    }

    .main-search-bar {
        margin-top: 10px
    }

    .main-left-side {
        width: 100%;
        margin: 0 auto
    }

    .main-news-blks {
        max-width: 881px;
        width: auto;
        margin: 0 auto
    }

    .hm-slider-cont {
        max-width: 464px;
        margin: 0 auto 12px
    }

    .mid-blks-cont {
        width: 391px;
        margin: 0 auto
    }

    .polls-cont, .top-big-two {
        width: auto;
        margin: 0 auto
    }

    .rt-bk-cont {
        display: none
    }

    .main-search-bar .form-group {
        margin-bottom: 5px;
        margin-left: 1%
    }

    .tn-small-1 h4 {
        max-width: 60%;
        max-height: 40px;
        overflow: hidden
    }

    .top-big-two {
        max-width: 754px;
        float: none
    }

    .polls-cont {
        max-width: 346px
    }

    ul.newsticker {
        width: 70%
    }

    .main-right-side {
        max-width: 370px;
        width: auto;
        margin: 0 auto;
        float: none;
        display: block
    }

    .sec-1-sm {
        width: 100%;
        float: left;
        display: block;
        margin-top: 28px
    }

    .sec-1-sm div.sec-1-sm-text {
        width: 80%
    }

    .sm-gal-bg {
        width: 100%;
        text-align: center
    }

    .img-sm-gal {
        width: 100%;
        padding: 20px 0
    }

    .sec-1-sm img {
        width: auto;
        float: left
    }

    .sec-1-sm h6 {
        float: right
    }

    .sec-1-sm h3, .sec-1-sm p {
        width: 100%;
        float: left;
        margin-bottom: 17px !important
    }

    .polls-left {
        width: 346px;
        padding-right: 0;
        margin-right: 36px;
        margin-bottom: 20px;
        border-right: none
    }

    .polls-right {
        width: 338px
    }

    .cont-lst-sngl {
        margin-right: 20%;
        margin-bottom: 30px
    }

    .customSelectInner:after {
        content: "\E764";
        font-family: entypo;
        font-size: 45px;
        color: #000;
        display: table-cell;
        vertical-align: top;
        text-align: center;
        position: absolute;
        top: -3px !important;
        right: 10px
    }

    .accor-arw {
        margin-top: 10px !important
    }

    #hidemenu {
        display: none !important
    }

    .single .sponsor_img {
        margin-top: -10px;
    }

}

@media only screen and (min-width: 601px) and (max-width: 689px) {
    .main-search-bar {
        margin-top: 10px
    }

    .mid-blks-cont {
        float: none;
        width: 391px;
        display: block;
        margin: 0 auto
    }

    .main-left-side {
        width: 100%;
        margin: 0 auto
    }

    .main-news-blks {
        max-width: 881px;
        width: auto;
        float: none;
        display: block;
        margin: 0 auto
    }

    .vid-thmb ul li {
        margin: 0 5px
    }

    .vid-thmb ul li:last-child {
        display: none
    }

    .hm-slider-cont {
        max-width: 464px;
        width: 100%;
        display: block;
        margin: 0 auto 12px;
        float: none
    }

    .rt-bk-cont, .ticker-ctrls {
        display: none
    }

    .tn-small-1 h4 {
        max-width: 90%;
        max-height: 40px;
        margin-left: 0;
        overflow: hidden
    }

    .top-big-two {
        width: auto;
        max-width: 754px;
        margin: 0 auto;
        float: none
    }

    .caption .boxcaption3 {
        padding: 6px 10px
    }

    .big-two-1.boxgrid3 h3 a, .big-two-2.boxgrid3 h3 a {
        font-size: 16px;
        width: 100%
    }

    p.artcl-time-1 {
        margin: 4px 0 5px
    }

    .polls-cont {
        width: auto;
        max-width: 346px;
        margin: 0 auto
    }

    .sm-gal-bg {
        width: 100%;
        text-align: center
    }

    .main-search-bar .form-group {
        margin-bottom: 5px;
        margin-left: 1%
    }

    .main-right-side, .sec-1-big img {
        margin: 0 auto;
        float: none;
        display: block
    }

    .img-sm-gal {
        width: 100%;
        padding: 20px 0
    }

    .flex-control-nav {
        bottom: -8px
    }

    ul.newsticker {
        width: 70%
    }

    .sec-1-big img {
        width: 100%
    }

    .sec-1-big div.sec-1-big-text {
        width: 100%
    }

    .main-right-side {
        max-width: 370px;
        width: auto
    }

    .sec-1-sm {
        width: 100%;
        float: left;
        display: block;
        margin-top: 28px
    }

    .sec-1-sm div.sec-1-sm-text {
        width: 75%
    }

    .sec-1-sm img {
        width: auto;
        float: left
    }

    .sec-1-sm h6 {
        float: right
    }

    .sec-1-sm h3, .sec-1-sm p {
        width: 100%;
        float: left;
        margin-bottom: 7px !important
    }

    .sec-1-sm div.sec-1-sm-text h6 {
        float: left;
        margin: 0 0 5px
    }

    .polls-left {
        width: 346px;
        padding-right: 0;
        margin-right: 36px;
        margin-bottom: 20px;
        border-right: none
    }

    .polls-right {
        width: 338px
    }

    .cont-lst-sngl {
        margin-right: 20%;
        margin-bottom: 30px
    }

    .customSelectInner:after {
        content: "\E764";
        font-family: entypo;
        font-size: 45px;
        color: #000;
        display: table-cell;
        vertical-align: top;
        text-align: center;
        position: absolute;
        top: -3px !important;
        right: 10px
    }

    .accor-arw {
        margin-top: 10px !important
    }

    #hidemenu, .mega-menu-li {
        display: none !important
    }

    .web {
        display: none;
    }
}

@media only screen and (min-width: 433px) and (max-width: 600px) {
    .hm-slider-cont, .main-news-blks, .mid-blks-cont {
        display: block;
        float: none
    }

    .mag-info, .post-ftr {
        border: none
    }

    .main-search-bar {
        margin-top: 10px
    }

    .sm-menu li:first-child a {
        margin-left: 15px
    }

    .main-left-side {
        width: 100%;
        margin: 0 auto
    }

    .main-news-blks {
        max-width: 881px;
        width: auto;
        margin: 0 auto
    }

    .hm-slider-cont {
        max-width: 464px;
        width: 100%;
        margin: 0 auto 12px
    }

    .mid-blks-cont {
        width: 391px;
        margin: 0 auto
    }

    .rt-bk-cont {
        display: none
    }

    .tn-small-1 h4 {
        max-width: 60%;
        max-height: 40px;
        margin-left: 0;
        overflow: hidden
    }

    .top-big-two {
        width: auto;
        max-width: 754px;
        margin: 0 auto;
        float: none
    }

    .caption .boxcaption3 {
        padding: 6px 10px;
        top: 183px;
    }

    .big-two-1.boxgrid3 h3 a, .big-two-2.boxgrid3 h3 a {
        font-size: 16px;
        width: 100%
    }

    p.artcl-time-1 {
        margin: 4px 0 5px
    }

    .vid-thmb ul li {
        margin: 0
    }

    .polls-cont {
        width: auto;
        max-width: 346px;
        margin: 0 auto
    }

    .sm-gal-bg {
        width: 100%;
        text-align: center
    }

    .img-sm-gal {
        width: 100%;
        padding: 20px 0
    }

    .sec-1-big img {
        width: 100%;
        margin: 0 auto;
        float: none;
        display: block
    }

    .sec-1-big div.sec-1-big-text {
        width: 100%
    }

    .main-search-bar .form-group {
        margin-bottom: 5px;
        margin-left: 1%
    }

    .flex-control-nav {
        bottom: -8px
    }

    ul.newsticker {
        width: 70%
    }

    .main-right-side {
        max-width: 370px;
        width: auto;
        margin: 0 auto;
        float: none;
        display: block
    }

    .sec-1-sm {
        width: 100%;
        float: left;
        display: block;
        margin-top: 28px
    }

    .sec-1-sm div.sec-1-sm-text {
        width: 60%
    }

    .sec-1-sm img {
        /*width: auto;*/
        float: left
    }

    .sec-1-sm h6 {
        float: right
    }

    .sec-1-sm h3, .sec-1-sm p {
        width: 100%;
        float: left;
        margin-bottom: 7px !important
    }

    .sec-1-sm div.sec-1-sm-text h6 {
        float: left;
        margin: 0 0 5px
    }

    .polls-left {
        width: 346px;
        padding-right: 0;
        margin-right: 36px;
        margin-bottom: 20px;
        border-right: none
    }

    .polls-right {
        width: 338px
    }

    .cat-ftr-cont-sngl {
        padding: 30px 10px
    }

    .mag-info {
        width: 100%
    }

    .post-ftr, .twts-ftr {
        width: 100%
    }

    .author-info ul {
        float: right;
        margin: 21px 0 0
    }

    .cont-lst-sngl {
        width: 100%;
        margin: 0 0 30px
    }

    .customSelectInner:after {
        content: "\E764";
        font-family: entypo;
        font-size: 45px;
        color: #000;
        display: table-cell;
        vertical-align: top;
        text-align: center;
        position: absolute;
        top: -3px !important;
        right: 10px
    }

    .accor-arw {
        margin-top: 10px !important
    }

    #hidemenu, .mega-menu-li {
        display: none !important
    }

    .no-js .sb-search, .sb-search.sb-search-open {
        width: 96.5%;
    }

    .footer-nav.list-inline.left, .footer-nav.list-inline.right {
        margin-left: 0;
        float: none !important;
        text-align: center;
    }

    .info-ftr .mag-info, .info-ftr .post-ftr, .info-ftr .twts-ftr {
        text-align: center !important;
    }
}

@media only screen and (max-width: 432px) {
    .mag-info, .post-ftr {
        border: none
    }

    .tn-small-1 h4, .trend-sm h4 {
        max-height: 40px;
        overflow: hidden
    }

    .sm-gal-bg, .vid-thmb ul li {
        text-align: center;
        width: 100%
    }

    img {
        max-width: 100%
    }

    .sm-menu li:first-child a {
        margin-left: 15px
    }

    .main-left-side {
        width: 100%;
        margin: 0 auto
    }

    .main-news-blks {
        max-width: 881px;
        width: auto;
        float: none;
        display: block;
        margin: 0 auto
    }

    .hm-slider-cont {
        max-width: 464px;
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto 12px;
        float: none
    }

    .mid-blks-cont {
        width: 100%;
        margin: 0 0 30px
    }

    .main-search-bar .form-group {
        margin-bottom: 5px;
        margin-left: 3%
    }

    .rt-bk-cont, .ticker {
        display: none
    }

    .tn-small-1 {
        width: 100%
    }

    .tn-small-1 h4 {
        max-width: 60%;
        margin-left: 10px
    }

    .top-big-two {
        width: 100%;
        float: left
    }

    .big-two-1.boxgrid3, .big-two-2.boxgrid3 {
        width: 100%;
        height: 230px;
        margin: 0 auto;
    }

    .caption .boxcaption3 {
        padding: 6px 10px;
        top: 125px;
    }

    .big-two-1.boxgrid3 h3 a, .big-two-2.boxgrid3 h3 a {
        font-size: 15px;
        width: 100%
    }

    .mid-block-1.boxgrid h3 a, .mid-block-2.boxgrid h3 a {
        font-size: 23px;
        float: left;
        margin-bottom: 20px;
        font-weight: 500
    }

    p.artcl-time-1 {
        margin: 4px 0 19px
    }

    .sec-1-sm:nth-child(odd) {
        margin-right: 0
    }

    .polls-cont {
        width: auto;
        max-width: 346px;
        margin: 0 auto
    }

    .vid-thmb ul li {
        margin: 0 0 10px;
        float: left
    }

    .img-sm-gal {
        width: 100%;
        padding: 20px 0
    }

    .flex-control-nav {
        bottom: -8px
    }

    ul.newsticker {
        width: 70%
    }

    .sec-1-big img {
        width: auto;
        margin: 0 auto;
        float: none;
        display: block
    }

    .sec-1-big div.sec-1-big-text {
        width: 100%;
        margin-left: 0
    }

    .main-right-side {
        max-width: 370px;
        width: auto;
        margin: 0 auto;
        float: none;
        display: block
    }

    .polls-bg-img, .sm-gal-bg img {
        max-width: 100%
    }

    .sec-1-sm {
        width: 100%;
        float: left;
        display: block;
        margin-top: 0
    }

    .sec-1-sm div.sec-1-sm-text {
        width: 100%;
        margin-top: 10px;
        margin-left: 0
    }

    .sec-1-sm img {
        width: auto;
        float: left
    }

    .sec-1-sm h6 {
        float: right
    }

    .sec-1-sm h3, .sec-1-sm p {
        width: 100%;
        float: left;
        margin-bottom: 7px !important
    }

    .sec-1-sm div.sec-1-sm-text h6 {
        float: left;
        margin: 0 0 5px
    }

    .polls-left, .polls-right {
        width: 100%;
        padding-right: 0;
        margin-right: 0;
        margin-bottom: 20px;
        border-right: none
    }

    .pol-rt-sm h5 {
        width: 100%
    }

    a.stars {
        width: 100%
    }

    .cat-ftr-cont-sngl {
        padding: 20px 10px;
        width: 100%
    }

    .mag-info {
        width: 100%
    }

    .post-ftr, .twts-ftr {
        width: 100%
    }

    .subscribe form input {
        width: 100%
    }

    .subscribe form a {
        float: right !important
    }

    .flkr-cont a img {
        width: auto
    }

    .trend-sm h4 {
        max-width: 185px;
        font-size: 14px;
        margin: 6px 0 9px 10px;
        line-height: 20px
    }

    .artcl-tags {
        float: none;
        margin: 0 0 15px 0;
        line-height: 24px;
    }

    .artcl-body h2 {
        font-size: 20px
    }

    .artcl-body h5 {
        font-size: 11px;
        line-height: 1.5;
    }

    .author-info ul {
        margin: 21px 0 0
    }

    .author-info img {
        width: auto;
        float: none;
        display: block;
        padding-right: 0;
        margin: 20px auto
    }

    .author-info p {
        width: 100%
    }

    .comntr-nm {
        font-size: 13px
    }

    .single-comment h4 {
        font-size: 11px
    }

    .single-comment img {
        width: 17.666667%
    }

    .the-comment {
        width: 79.666667%
    }

    .reply-1 img {
        width: 18.97810218978102% !important
    }

    .reply-1 .the-comment {
        width: 78.86672539642588% !important
    }

    .reply-2 img {
        width: 19.92337164750958% !important;
        margin-right: 3.259036144578313% !important
    }

    .reply-2 .the-comment {
        width: 71.81759220791211% !important
    }

    .reltd-sngl {
        width: 100%
    }

    .reltd-sngl-txt h3 {
        font-size: 15px
    }

    .cont-lst-sngl {
        width: 100%;
        margin: 0 0 30px
    }

    a.cmnt-btn {
        float: right
    }

    .cat-pagintn ul li {
        float: left;
        margin-right: 10px;
        margin-bottom: 13px
    }

    .customSelectInner:after {
        content: "\E764";
        font-family: entypo;
        font-size: 45px;
        color: #000;
        display: table-cell;
        vertical-align: top;
        text-align: center;
        position: absolute;
        top: -3px !important;
        right: 10px
    }

    .accor-arw {
        margin-top: 10px !important
    }

    .main-news-blks .flex-direction-nav a:before {
        font-size: 60px
    }

    .main-news-blks .flex-direction-nav a {
        top: 22%
    }

    .hm-sldr-caption h3 {
        font-size: 18px;
        line-height: 23px
    }

    #hidemenu, .mega-menu-li {
        display: none !important
    }

    .no-js .sb-search, .sb-search.sb-search-open {
        width: 95%;
    }

    .copy-rt-ftr ul {
        float: none;
        padding: 0;
        text-align: center;
        width: 100%;
    }

    .info-ftr .mag-info, .info-ftr .post-ftr, .info-ftr .twts-ftr {
        text-align: center !important;
    }

    .artcl-shr {
        padding: 0 !important;
        margin: 10px auto;
        float: left !important;
    }

    .main-footers {
        margin-top: 0;
    }

    .sec-1-sm:nth-child(odd) {
        padding-right: 5px
    }

    .web {
        display: none;
    }
}

@media only screen and (max-width: 320px) {
    .main-news-blks .flex-direction-nav a:before {
        font-size: 60px
    }

    .main-news-blks .flex-direction-nav a {
        top: 12%
    }

    .hm-sldr-caption h3 {
        font-size: 18px;
        line-height: 23px
    }

    .hm-sldr-caption p {
        height: 40px;
        font-size: 13px;
        overflow: hidden
    }

    .mid-block-1.boxgrid h3 a, .mid-block-2.boxgrid h3 a {
        font-size: 21px
    }

    .sec-1-big div.sec-1-big-text h6 span {
        margin-right: 7px
    }

    .tn-small-1 h4 {
        max-width: 55%;
        max-height: 40px;
        margin-left: 10px;
        overflow: hidden
    }

    .flkr-cont a img {
        height: 90px
    }

    .cal-btm-arw.cal-nxt, .cal-btm-arw.cal-pre {
        right: -1% !important
    }

    .caption .boxcaption3 {
        top: 100px;
    }

    .big-two-1.boxgrid3, .big-two-2.boxgrid3 {
        height: 200px;
    }

    .no-js .sb-search, .sb-search.sb-search-open {
        width: 93%;
    }

    .info-ftr .mag-info, .info-ftr .post-ftr, .info-ftr .twts-ftr {
        text-align: center !important;
    }

    .post-ftr, .twts-ftr {
        width: 100%
    }
}