.title-2 {
    font-size: 24px;
    line-height: 24px;
    text-transform: none;
}

.title-2 {
    border-bottom: 1px solid #e6e6e6;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.page-content .inner-box {
    overflow: hidden;
}

.inner-box.category-content {
    padding-bottom: 0;
}

.page-content .inner-box {
    overflow: auto;
    padding: 15px;
}

.inner-box {
    background: #f5f5f5 none repeat scroll 0 0;
    margin-bottom: 0;
    padding: 20px 15px;
}

.inner-box {
    background: none repeat scroll 0 0 #fff;
    border-radius: 3px 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(180, 180, 180, .5);
    margin-bottom: 30px;
    padding: 20px 15px;
}

.page-content .cat-title {
    margin-bottom: 15px;
}

.m-r-10 {
    margin-right: 10px;
}

.page-content .media a > img {
    width: 130px;
}

.author {
    float: left;
    display: block;
}

.artcl-shr {
    padding: 0 10px;
}

.main-left-side .ads_items {
    float: left;
}

.mobile-title {
    float: left;
}

.navbar-inverse {
    background-image: -webkit-linear-gradient(top, #5aa628 0, #5aa628 100%);
    background-image: linear-gradient(to bottom, #83ce52 0, #5aa628 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.navbar-inverse {
    background-color: #5aa628;
    border-color: #e7e7e7;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}